@charset "utf-8";
// If need, change your variables before importing Bulma
@import url("https://fonts.googleapis.com/css?family=Solway&display=swap");
@import "../../css/variables.scss";
@import "~bulma/bulma.sass";
@import "~@creativebulma/bulma-tooltip";

::selection {
  background: $primary;
}
