@charset "utf-8";
// If need, change your variables before importing Bulma
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
@import "../../css/variables.scss";
@import "~bulma/bulma.sass";
@import "~@creativebulma/bulma-tooltip";

::selection {
  background: $primary;
}

a {
  color: $primary;
  &:hover {
    color: lighten($primary, 10%);
  }
}
