.step {
  margin: 0px 1rem 0.5rem auto;
  text-align: center;

  .circle {
    display: inline-block;
    background: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    border: 1px solid #d5d5da;
    .title {
      color: white;
      font-size: 18px;
      line-height: 2.5rem;
    }
    .label {
      display: inline-block;
      width: 1rem;
      height: 1rem;
      border-radius: 40px;
      font-size: 1rem;
    }
  }
}
